<%- include("partials/header"); -%>

  <div class="jumbotron centered">
    <div class="container mt-5">
      <div class="row">

        <div class="col-sm-6">
          <div class="container">
            <h1>About</h1>
            <p><%= about %></p>
          </div>
        </div>

        <div class="col-sm-6">
          <img class="home-img" src="/images/about.jpeg" alt="about-img">
        </div>

      </div>
    </div>

  </div>


<%- include("./partials/footer"); -%>
