<%- include('partials/header') %>


<div class="jumbotron centered home-jubotron">
  <div class="container mt-5">
    <div class="row center-row">

      <div class="col-sm-6">
        <div class="container">
          <img class="logo" src="/images/circled logo.png" alt="logo-img">
          <h1 class="display-3">ANONYMOUS BLOGGING</h1>
          <p class="lead">Don't keep your thoughts, share them anonymously!</p>
          <button class="btn btn-dark"><a href="/signup">Sign up</a></button>
          <button class="btn btn-dark"><a href="/login">Login</a></button>
        </div>
      </div>

        <div class="col-sm-6">
          <img class="home-img" src="/images/annoymous blogging.jpeg" alt="annoymous-blogging-img">
        </div>

    </div>
  </div>
</div>

<%- include('partials/footer') %>
