<%- include("partials/header"); -%>

<div class="jumbotron centered">
  <div class="container mt-5">

        <img class="yourblogs-img" src="/images/blogs2.jpeg" alt="blogs2-img">
        <h1><%= postPage["title"] %></h1>
        <p><%= postPage.content %> </p>
  </div>

</div>

<%- include("./partials/footer"); -%>
