<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="icon" href="/images/favicon.png">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <!-- <link rel="icon" href="data:,"> -->
  <script src="https://kit.fontawesome.com/c8ce3d34bc.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/blogs"><img class="navbar-brand" src="/images/circled logo.png" alt="logo-img"></a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="yourblogs"><a href="/yourblogs">YOUR BLOGS</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="logout" style="display:<%= displayType %>"><a href="/logout">LOG OUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
